%body
  .chat-side
    .chat-side__user
      .chat-side__user-content
        %h4.chat-side__user-name Kengo Araki
        %a.chat-side__user--new-group
          %i.fa.fa-pencil-square-o
        %a.chat-side__user--edit-user
          %i.fa.fa-cog

    .chat-side__groups
      .chat-side__groups-list
        .chat-side__group
          %p.chat-side__group-name group1
          %p.chat-side__group-message Wow! first comment
        .chat-side__group
          %p.chat-side__group-name group2
          %p.chat-side__group-message Oh! first comment
        .chat-side__group
          %p.chat-side__group-name group3
          %p.chat-side__group-message Yeah! first comment

  .chat-main
    .chat-main__header
      .chat-main__header--group.clearfix
        %h4.chat-main__header--group-name group1
        %a.chat-main__header--group-edit-btn edit
      .chat-main__header-members
        MEMBER:
        %span.chat-main__header-members Kengo Araki

    .chat-main__body
      .chat-main__body--messages-list
        .chat-main__message.clearfix#319
          %p.chat-main__message-name Kengo Araki
          %p.chat-main__message-time 2017/04/23 09:26:11
          %p.chat-main__message-body Wow! first comment

    .chat-main__footer
      %form.chat-main__footer-form#new_message
        .chat-main__footer-body
          %input.message{ type: "text", placeholder: "type a messsage" }
          %label.chat-file
            %input.image{ type: "file" }
            %i.fa.fa-image
        %input.submit{ type: "submit", value: "Send" }






